  <a href="#modal_to_write_user<%= user.id%>" data-toggle="modal" style="text-decoration:none">
    <div class="btn btn-default button" id="button"><%= text %></div>
  </a>
  <%= render 'conversations/modal_to_write', :user => user %>
