<body>
	<div class="row">  
		<%= render 'conversations/message_bar' %>
    	<div id="messagebar" style="height:auto;background-color: #F0F0F0">    
			<%= render 'form' %>
    	<div>
    </div>
</body>

