<section>
	 <a href="<%= followers_user_path(@user) %>" style="text-decoration: none;">
	 <h5>
		 <%= image_tag("followers.png", size: "90x30") %>&nbsp
		 <span class="btn btn-inverse" id="badge">
		 <div id="followers_count_user<%= @user.id %>">	 
			 <%= @user.followers.count %>
		 </div>
		 </span>
	 </h5>
     </a>
 </section>