<section style="border-radius:5px">
	<h5>
		<%= image_tag("posts.png", size: "60x30") %>&nbsp
 	  	<span class="btn btn-inverse" id="badge">
 		  	<div id="micropost_count"><%= @user.microposts.count %></div>
	  	</span>
	</h5>
</section>
